@import "tailwindcss";

@theme inline {
  --font-press-start: var(--font-press-start);
  --font-dot-gothic: var(--font-dot-gothic);
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: var(--font-press-start), var(--font-dot-gothic), cursive;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}